body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.container{
    background-color:whitesmoke;
    display:grid;
    border:2px solid black;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8,60px);
}

.square,.square-even{
    height: 60px;
    width: 60px;
} 

.square:nth-child(odd){
    background: rgb(226, 213, 213);
}
.square:nth-child(even){
    background: #b58863;
}
.square-even:nth-child(odd){
    background: #b58863;
}
.square-even:nth-child(even){
    background: rgb(226, 213, 213);
}